h1{
    text-align: center;
}
.box{
    border: 1px solid black;
    background-color: gray;
}
.name1{
    text-align:right;
    border: 1px solid black;
    width: 70px;
    padding: 10px;
    text-align: end;
    margin-left: auto;
    margin-right: 0px;
    background-color:rgb(230, 102, 56);
}
.name2{
    text-align:right;
    border: 1px solid black;
    width: 70px;
    padding: 10px;
    text-align: end;
    margin-left: auto;
    margin-right: 0px;
    background-color:rgb(116, 48, 23);
}
.name3{
    text-align:right;
    border: 1px solid black;
    width: 70px;
    padding: 10px;
    text-align: end;
    margin-right: 0px;
    margin-left: auto;
    background-color:rgb(167, 149, 101);
}
